body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./assets/images/boomer-background3.jpg) no-repeat;

  background-position: center;
  background-attachment: fixed;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

.transparentBG {
  background-color: rgba(22, 32, 44 , 0.7);
  border-radius: 5px;
}

#sidenav-overlay {
  z-index: 0;
}

.side-nav {
  background-color: #073f36;
}
.side-nav ul {
  width: 100%;
}

.side-nav a {
  border-bottom: 1px solid white;
  color: white
}

.RoomTimerBox {
  position: absolute;
  margin-top: 10px;
  right: 10%;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: red;
}

.RoomTimer {
  color: white;
  text-align: center;
  margin-top: 22%
}